// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body {
  background-image: url("assets/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-color: #f9c89a;
}

.image {
    max-height: 300px;
}

@media screen and (max-width: 480px) {

  .ms-button-wrapper button {
    // transform: scale(0.7);
    font-size: .8rem;
  }

}